<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title RegistrationForm
        link(rel="stylesheet", href="/main.css")
    body
        center
            h1 Registration Form
            form(action="/", method="POST")
                input(type="text", name="name" placeholder="Your name..")
                br
                input(type="email", name="email", placeholder="Your email..")
                br
                input(type="text", name="mobile", placeholder="Your mobile number..")
                br
                button(type="submit") Submit